p {



}

html{

  font-family: arial,sans-serif;
}
.arriba{

  text-align: right;
}

.google-logo{
  align-content: center;
  margin-left: 500px;
  margin-right: 250px;
  margin-top: 150px;
  margin-bottom: 300px;


}

.buscador{
 align-content: center;
 align-items: center;
 margin-left: 500px;
 margin-right: 250px;
 margin-top: 150px;
 margin-bottom:px;


}
